<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.atguigu.wms.inventory.mapper.InvMoveMapper">

	<resultMap id="invMoveMap" type="com.atguigu.wms.model.inventory.InvMove" autoMapping="true">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
		id,inv_move_no,reason_id,plan_move_time,warehouse_id,storearea_id,storeshelf_id,storehouse_id,move_user_id,move_user,move_complete_time,remarks,status,create_id,create_name,update_id,update_name,create_time,update_time,is_deleted
	</sql>
	
	<sql id="findPageWhere">
		<where>	      				
	       <if test="vo.invMoveNo != null and vo.invMoveNo != ''">
				and inv_move_no = #{vo.invMoveNo}
			</if>
	       <if test="vo.reasonId != null and vo.reasonId != ''">
				and reason_id = #{vo.reasonId}
			</if>
	       <if test="vo.planMoveTimeBegin != null and vo.planMoveTimeBegin != ''">
				and plan_move_time >= #{vo.planMoveTimeBegin}
		   </if>
		   <if test="vo.planMoveTimeEnd != null and vo.planMoveTimeEnd != ''">
				and plan_move_time &lt;= #{vo.planMoveTimeEnd}
		   </if>
	       <if test="vo.warehouseId != null and vo.warehouseId != ''">
				and warehouse_id = #{vo.warehouseId}
			</if>
	       <if test="vo.storeareaId != null and vo.storeareaId != ''">
				and storearea_id = #{vo.storeareaId}
			</if>
	       <if test="vo.storeshelfId != null and vo.storeshelfId != ''">
				and storeshelf_id = #{vo.storeshelfId}
			</if>
	       <if test="vo.storehouseId != null and vo.storehouseId != ''">
				and storehouse_id = #{vo.storehouseId}
			</if>
	       <if test="vo.status != null and vo.status != ''">
				and status = #{vo.status}
			</if>
			and is_deleted = 0
		</where>
	</sql>
    
    <select id="selectPage" resultMap="invMoveMap">
    	select <include refid="columns" />
	    from inv_move
		<include refid="findPageWhere"/>
		order by id desc
    </select>

</mapper>

